* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.center {
  justify-content: center;
  align-items: center;
}
header {
  background: linear-gradient(to right, rgb(0, 0, 44), rgb(20, 169, 243));
}
body {
  font-family: "Inter", sans-serif;
}

.nav {
  height: 50px;
  padding: 0.5rem auto;
  align-items: center;
  gap: 1rem;
}
.nav-link {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: white;
}

.home-banner-container {
  height: 90vh;
  background: linear-gradient(to right, rgb(0, 0, 44), rgb(20, 169, 243));
  padding: 3rem;
}
.home-banner {
  height: 100%;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  gap: 1rem;
}

.home-banner-img-container,
.home-banner-txt {
  width: 100%;
}
.home-banner-txt {
  flex-direction: column;
  justify-content: center;
  color: white;
}
.banner-head,
.banner-name,
.banner-footer {
  text-align: center;
}
.banner-head {
  color: #0473b4;

  font-size: 2rem;
}
.banner-name {
  color: #caf0f8;
  font-family: "Abril Fatface", serif;
  font-size: 3.5rem;
}

.banner-footer {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.home-banner-img {
  width: 30vw;
  height: 30vw;
  min-width: 170px;
  min-height: 170px;
  object-position: top;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(1);
  box-shadow: rgba(0, 0, 66, 1) 0px 0px 20px;
}
@media (min-width: 768px) {
  .home-banner-container {
    height: 80vh;
  }
  .home-banner {
    flex-direction: row;
    justify-content: space-between;
  }
  .home-banner-txt,
  .home-banner-img-container {
    width: 45%;
    height: 90%;
  }
  .home-banner-txt {
    width: 50%;
  }
  .banner-head,
  .banner-name,
  .banner-footer {
    text-align: left;
  }
  .banner-head {
    font-size: 3rem;
  }
  .banner-name {
    font-size: 5rem;
  }
  .banner-footer {
    font-size: 2rem;
  }
}
.about-me-container,
.projects-container {
  margin-top: 6rem;
}
.about-me-txt-container {
  flex-direction: column;
  gap: 1rem;
}
.projects,
.about-me-txt-container {
  margin-top: 3rem;
}
.body-title {
  font-family: "Lato", sans-serif;
  color: rgb(0, 0, 44);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}

.about-me-txt-main {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 500;
  background: #3d5a80;
  /* background: #0473b4; */
}
.about-me-txt-main,
.about-me-txt-side {
  width: 100%;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.about-me-txt-side {
  background: #98c1d9;
}

.about-me-subtitle {
  font-size: 2rem;
  color: #3d5a80;
}
.about-me-skill {
  color: #eafbfe;
  font-size: 1.25rem;
}
.about-me-txt-side {
  justify-content: space-evenly;
  flex-direction: column;
}
@media (min-width: 768px) {
  .body-title {
    font-size: 4rem;
  }
  .about-me-txt-main,
  .about-me-txt-side {
    width: 49%;
  }
  .about-me-txt-container {
    flex-direction: row;
  }
  .about-me-txt-side {
    flex-direction: row;
  }
}
.projects-container,
.about-me-container {
  border-top: 4px dashed #3d5a80;
}
.project-title {
  font-weight: 400;
  font-size: 1.5rem;
}
.project-title a {
  text-decoration: none;
  color: #3d5a80;
}
.project-title a:hover {
  color: rgb(0, 0, 44);
}
.projects {
  flex-direction: column;
  gap: 1rem;
}
.project {
  gap: 1rem;
  border-bottom: 1px solid #98c1d9;
  padding-bottom: 0.5rem;
}
.project-img {
  width: 50%;
  min-width: 180px;
}
.project-info {
  display: none;
}
@media (min-width: 768px) {
  .projects {
    flex-direction: row;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  }
  .project {
    width: 33%;
    flex-direction: column;
    padding: none;
    border: none;
  }
  .project-img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .project-txt {
    flex-direction: column;
    gap: 0.5rem;
  }
  .project-info {
    display: block;
    color: #0473b4;
    font-size: 0.85rem;
  }
}
