* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(216, 213, 213);
}
body {
  background: linear-gradient(to right, rgb(6, 6, 92), rgb(104, 201, 250)),
    linear-gradient(to top, rgb(6, 6, 92), rgb(152, 217, 250));
  background-blend-mode: multiply;
  overflow-x: hidden;
}

.flex {
  display: flex;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.center {
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Inter", sans-serif;
}

.nav {
  height: 50px;
  padding: 0.5rem auto;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.nav-link {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: white;
}
.nav-link a:hover {
  color: #0473b4;
}

.home-banner-container {
  height: 50vh;
  padding: 3rem;
}
.home-banner {
  height: 100%;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  gap: 1rem;
}

.home-banner-img-container,
.home-banner-txt {
  width: 100%;
}
.home-banner-txt {
  flex-direction: column;
  justify-content: center;
  color: white;
}
.banner-head,
.banner-name,
.banner-footer {
  text-align: center;
}
.banner-head {
  color: #0473b4;

  font-size: 2rem;
}
.banner-name {
  color: #caf0f8;
  font-family: "Abril Fatface", serif;
  font-size: 3.5rem;
}

.banner-footer {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.home-banner-img {
  width: 30vw;
  height: 30vw;
  min-width: 170px;
  min-height: 170px;
  object-position: top;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 66, 1) 0px 0px 20px;
}
@media (min-width: 768px) {
  .home-banner-container {
    height: 80vh;
  }
  .home-banner {
    flex-direction: row;
    justify-content: space-between;
  }
  .home-banner-txt,
  .home-banner-img-container {
    width: 45%;
    height: 90%;
  }
  .home-banner-txt {
    width: 50%;
  }
  .banner-head,
  .banner-name,
  .banner-footer {
    text-align: left;
  }
  .banner-head {
    font-size: 3rem;
  }
  .banner-name {
    font-size: 5rem;
  }
  .banner-footer {
    font-size: 2rem;
  }
  .projects-container,
  .contact-form-container,
  footer {
    margin-top: 9rem;
  }
}
.projects-container,
.contact-form-container,
footer {
  margin-top: 6rem;
}
.about-me-container {
  margin-top: 3rem;
}
.about-me-txt-container {
  flex-direction: column;
  gap: 1rem;
}

.body-title {
  font-family: "Lato", sans-serif;
  /* font-family: "Abril Fatface", serif; */

  color: #caf0f8;

  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}

.about-me-txt-main {
  font-weight: 500;
  /* box-shadow: rgba(0, 0, 66, 0.5) 0px 0px 10px; */
  padding: 1.5rem;
  border-radius: 16px;
}
.about-me-txt-main p::first-letter {
  font-size: 2.5rem;
}
.about-me-txt-main,
.about-me-txt-side {
  font-size: 1.5rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.about-me-subtitle {
  font-size: 1.5rem;
  color: #d5c88e;
  margin-bottom: 0.5rem;
}
.about-me-txt-side div {
  box-shadow: rgba(0, 0, 66, 0.5) 0px 0px 10px;
  height: 100%;
  padding: 1.5rem;
  border-radius: 16px;
  width: 45%;
}
.about-me-skill {
  list-style: none;
  color: #eafbfe;
  font-size: 0.85rem;
}
.about-me-txt-side {
  justify-content: space-between;
  flex-direction: row;
}
@media (min-width: 768px) {
  .body-title {
    font-size: 4rem;
  }
  .about-me-subtitle {
    font-size: 2rem;
    color: #d5c88e;
    margin-bottom: 0.5rem;
  }
  .about-me-txt-main,
  .about-me-txt-side {
    width: 90%;
    margin: auto;
  }

  .about-me-skill {
    list-style: none;
    color: #eafbfe;
    font-size: 1.25rem;
  }
}
.project-title,
.link-title {
  font-weight: 400;
  font-size: 1.5rem;
}
.project-title a,
.link-title {
  text-decoration: none;
  color: #d5c88e;
  font-weight: bold;
}
.project-title a:hover {
  color: #dbc14b;
}
.projects {
  flex-direction: column;
  gap: 1rem;
}
.project {
  gap: 1rem;
  border-bottom: 1px solid #98c1d9;
  padding-bottom: 0.5rem;
}
.project:last-child {
  border: none;
}
.project-img {
  width: 50%;
  min-width: 180px;
}
.project-info {
  display: none;
}
@media (min-width: 768px) {
  .projects {
    flex-direction: row;
    padding: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px; */
  }
  .project {
    width: 33%;
    flex-direction: column;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    /* background-color: #98c1d9; */
    border-bottom: none;
  }
  .project-img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
  .project-title a,
  .link-title {
    text-decoration: none;
    /* color: rgb(0, 0, 44); */
    font-weight: bold;
  }
  .project-txt {
    flex-direction: column;
    gap: 0.5rem;
  }
  .project-info {
    display: block;
    /* color: #0473b4; */
    font-size: 1.5rem;
    color: rgb(0, 0, 35);
  }
}
.contact-form,
.footer-top,
.projects,
.about-me-txt-container {
  margin-top: 3rem;
}
.contact-form,
.input-container {
  flex-direction: column;
  gap: 1rem;
}

.contact-input {
  height: 40px;
  padding: 0.5rem;
  width: 60%;
  /* max-width: 400px; */
  color: black;
}
.error {
  color: red;
}
.contact-input,
#contact-txt {
  background-color: rgb(216, 213, 213);
}
.contact-input-container {
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
  height: 65px;
}

.contact-form textarea {
  width: 80%;
  color: black;
}
@media (min-width: 768px) {
  .input-container {
    flex-direction: row;
  }
  .contact-input-container {
    width: 30%;
  }
  .contact-input {
    width: 100%;
  }
  .contact-form,
  .footer-top,
  .projects,
  .about-me-txt-container {
    margin-top: 6rem;
  }
}
.submit {
  height: 40px;
  width: 100px;
  font-size: 1.5rem;
  appearance: none;
  border: none;
  color: rgb(0, 0, 44);
  background-color: #d5c88e;
  border-radius: 3px;
}
.submit:hover,
.submit:focus {
  color: rgb(0, 0, 44);
  cursor: pointer;
  background-color: #dbc14b;
}

.footer-link {
  margin-left: 1rem;
  list-style: none;
}
.footer-email .footer-link {
  margin: 0;
}
.footer-link a {
  font-size: 2rem;
  color: #3d5a80;
}

.footer-link a i:hover {
  color: #0473b4;
}
.footer-top {
  width: 100%;
}
.footer-bottom {
  width: 100vw;
  height: 60px;
  color: white;
  text-align: center;
}
.footer-title {
  font-weight: 400;
}
